#main-nav.navbar-blue {
    background-color: rgba(14, 216, 214, 0.6);
    transition: 200ms linear;
}

#main-nav.navbar-blue a:hover {
    color: #333333;
}

#main-nav {
    padding: 0 10%;
}

#main-nav a {
    font-family: "Droid Sans";
    font-style: italic;
    font-size: 25px;
    transition: all 0.5s;
    color: white;
}

#main-nav a:hover {
    color: #0ed8d6;
}

#main-nav #navbarNav .navbar-nav {
    margin-left: auto;
}

#main-nav #navbarNav .navbar-nav .styleNav {
    background: transparent;
}

#main-nav #navbarNav .navbar-nav .styleNav a {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}

#main-header {
    width: 100%;
    padding: 0 10%;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/header/pictures_on_the_wall.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

#services .container .small-containers p {
    font-style: normal;
}

#services .container .small-containers i.fas {
    background-color: #0ed8d6;
    width: 100px;
    border-radius: 50%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    color: white;
    transition: 0.4s;
    margin-bottom: 20px;
}

#services .container .small-containers i.fas:hover {
    transform: rotate(360deg);
    cursor: pointer;
    background-color: white;
    color: #0ed8d6;
}

#portfolio {
    background-color: #f7f7f7;
    width: 100%;
}

#portfolio .container .row .small-containers .container-portfolio {
    background-color: white;
    width: 100%;
}

#portfolio .container .row .small-containers .container-portfolio .overflow {
    height: 230px;
    overflow: hidden;
}

#portfolio .container .row .small-containers .container-portfolio .overflow .pic-1 {
    background-image: url(../img/portfolio/box_of_cookies.jpg);
}

#portfolio .container .row .small-containers .container-portfolio .overflow .pic-2 {
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}

#portfolio .container .row .small-containers .container-portfolio .overflow .pic-3 {
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
}

#portfolio .container .row .small-containers .container-portfolio .overflow .pic-4 {
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}

#portfolio .container .row .small-containers .container-portfolio .overflow .pic-5 {
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}

#portfolio .container .row .small-containers .container-portfolio .overflow .pic-6 {
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}

#portfolio .container .row .small-containers .container-portfolio .overflow .pictures {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#portfolio .container .row .small-containers .container-portfolio .overflow .pictures:hover {
    transform: scale(1.3);
    transition: 0.4s;
}

#portfolio .container .row .small-containers .container-portfolio .overflow .pictures .mask {
    background-color: rgba(14, 216, 214, 0.6);
    opacity: 0;
    height: 100%;
    transition: 0.4s;
}

#portfolio .container .row .small-containers .container-portfolio .overflow .pictures .mask:hover {
    opacity: 1;
}

#portfolio .container .row .small-containers .container-portfolio .overflow .pictures .mask i.fas {
    text-align: center;
    color: white;
    font-size: 50px;
    height: 100%;
    width: 100%;
    line-height: 230px;
}

#team .container .row .small-containers p {
    font-style: normal;
}

#team .container .row .small-containers img {
    border-radius: 50%;
}

#team .container .row .small-containers .socials i {
    background-color: #333333;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin: 5px 10px;
    font-size: 20px;
    transition: all 0.5s;
}

#team .container .row .small-containers .socials i:hover {
    background-color: #0ed8d6;
    cursor: pointer;
}

#team .container .paragraf {
    padding: 50px 0;
    font-style: normal;
}

#contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/footer/world-map.jpg);
    width: 100%;
    height: auto;
}

#contact .container-contact {
    text-align: center;
}

#contact .container-contact .white-text {
    color: white;
}

#contact .container-contact .row .form1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    height: 220px;
}

#contact .container-contact .row .form1 input {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 10px 15px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

#contact .container-contact .row .form2 {
    padding-bottom: 30px;
    height: 220px;
}

#contact .container-contact .row .form2 textarea {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 10px 15px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    height: 100%;
}

#footer {
    width: 100%;
    padding: 5px 5%;
    text-align: center;
}

#footer .row .to-center {
    line-height: 50px;
}

#footer .row .to-center p {
    color: #333333;
    font-style: normal;
    font-family: "Roboto Slab";
    text-align: left;
    padding: 0;
    margin: 0;
}

#footer .row .socials i {
    background-color: #333333;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin: 5px 10px;
    font-size: 20px;
    transition: all 0.5s;
}

#footer .row .socials i:hover {
    background-color: #0ed8d6;
    cursor: pointer;
}

#footer .row .footer-nav {
    line-height: 50px;
}

#footer .row .footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

#footer .row .footer-nav ul .navbar-footer {
    list-style: none;
    text-decoration: none;
    margin: 0 10px;
}

#footer .row .footer-nav ul .navbar-footer a {
    color: #333333;
}

#footer .row .footer-nav ul .navbar-footer a:hover {
    color: #0ed8d6;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: "Roboto Slab";
}

body {
    margin: 0;
}

h2,
p {
    font-family: "Droid Sans";
    font-style: italic;
}

.container {
    padding: 80px 5%;
}

.small-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.btn-view {
    font-family: "Montserrat", sans-serif;
    background-color: #0ed8d6;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
    width: 160px;
}

h1,
h3,
h5 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 10px 0;
}

h3,
h5 {
    text-align: center;
    width: 100%;
    color: #333333;
}

p {
    text-align: center;
    width: 100%;
    color: #777777;
    padding-bottom: 20px;
}
