@import 'variables';

#footer {

    width: 100%;
    padding: 5px 5%;
    text-align: center;

    .row {

        .to-center {

            line-height: 50px;

            p {
                color: $dark-grey;
                font-style: normal;
                font-family: $main-font;
                text-align: left;
                padding: 0;
                margin: 0;
            }

        }
        
        .socials {
            i{
                @include socials();
            }
        }

        .footer-nav {

            line-height: 50px;

            ul {

                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-end;
                margin: 0;

                .navbar-footer {

                    list-style: none;
                    text-decoration: none;
                    margin: 0 10px;

                    a {
                        color: $dark-grey;

                        &:hover {
                            color: $blue;
                            text-decoration: none;
                        }

                    }

                }

            }

        }

    }

}
