@import 'variables';

#team {

    .container {

        .row {

            .small-containers {

                p {
                    font-style: normal;
                }

                img {

                    border-radius: 50%;

                }

                .socials {

                    i {
                        @include socials();

                    }

                }

            }

        }

        .paragraf {
            padding: 50px 0;
            font-style: normal;
        }
        
    }

}
