@import 'variables';

#services {

    .container {

        .small-containers {

            p {
                font-style: normal;
            }

            i.fas {
                background-color: $blue;
                width: 100px;
                border-radius: 50%;
                height: 100px;
                line-height: 100px;
                text-align: center;
                font-size: 50px;
                color: white;
                transition: 0.4s;
                margin-bottom: 20px;

                &:hover {
                    transform: rotate(360deg);
                    cursor: pointer;
                    background-color: white;
                    color: $blue;
                }
            }

        }

    }

}
