#footer {
    width: 100%;
    padding: 5px 5%;
    text-align: center;
}

#footer .row .to-center {
    line-height: 50px;
}

#footer .row .to-center p {
    color: #333333;
    font-style: normal;
    font-family: "Roboto Slab";
    text-align: left;
    padding: 0;
    margin: 0;
}

#footer .row .socials i {
    background-color: #333333;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    margin: 5px 10px;
    font-size: 20px;
    transition: all 0.5s;
}

#footer .row .socials i:hover {
    background-color: #0ed8d6;
    cursor: pointer;
}

#footer .row .footer-nav {
    line-height: 50px;
}

#footer .row .footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

#footer .row .footer-nav ul .navbar-footer {
    list-style: none;
    text-decoration: none;
    margin: 0 10px;
}

#footer .row .footer-nav ul .navbar-footer a {
    color: #333333;
}

#footer .row .footer-nav ul .navbar-footer a:hover {
    color: #0ed8d6;
    text-decoration: none;
}
